.html
{
	background-color: #7F7F7F;
}

#page
{
	z-index: 1;
	width: 960px;
	min-height: 536px;
	background-image: none;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -2px;
}

#u215
{
	z-index: 2;
	width: 1159px;
	padding-bottom: 15px;
	left: -100px;
}

#u215_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	width: 961px;
	left: -99px;
}

#u283
{
	z-index: 23;
	width: 144px;
	height: 68px;
	margin-right: -10000px;
	margin-top: 50px;
	left: 132px;
}

#menuu216
{
	z-index: 4;
	width: 446px;
	margin-right: -10000px;
	margin-top: 67px;
	left: 572px;
}

#u224
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
}

#u227
{
	width: 147px;
	padding-bottom: 17px;
}

#u227:hover
{
	margin: 0px;
}

#u227:active
{
	margin: 0px;
}

#u228-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u227:hover #u228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u227:active #u228-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u231
{
	width: 147px;
	min-height: 34px;
	margin-right: -10000px;
	left: 149px;
}

#u232
{
	width: 147px;
	padding-bottom: 17px;
}

#u227.MuseMenuActive,#u232:hover
{
	margin: 0px;
}

#u232:active
{
	margin: 0px;
}

#u234-4
{
	width: 147px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u227.MuseMenuActive #u228-4,#u232:hover #u234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u232:active #u234-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u217
{
	width: 148px;
	min-height: 34px;
	margin-right: -10000px;
	left: 298px;
}

#u218
{
	width: 148px;
	padding-bottom: 17px;
}

#u232.MuseMenuActive,#u218:hover
{
	margin: 0px;
}

#u218:active
{
	margin: 0px;
}

#u221-4
{
	width: 148px;
	min-height: 17px;
	margin-right: -10000px;
	top: 8px;
}

#u232.MuseMenuActive #u234-4,#u218:hover #u221-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u218:active #u221-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u366-4
{
	z-index: 47;
	width: 380px;
	min-height: 71px;
	text-align: center;
	font-size: 60px;
	font-family: bangers, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 200px;
	left: 286px;
}

#u367-4
{
	z-index: 51;
	width: 286px;
	min-height: 47px;
	text-align: center;
	font-size: 40px;
	color: #7F7F7F;
	font-family: bangers, sans-serif;
	font-weight: 400;
	position: fixed;
	top: 262px;
	left: 338px;
}

#u369-4
{
	z-index: 56;
	width: 292px;
	min-height: 119px;
	text-align: center;
	font-size: 60px;
	font-weight: bold;
	position: fixed;
	top: 397px;
	left: 338px;
}

#u368
{
	z-index: 55;
	width: 524px;
	height: 181px;
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #FFFFFF;
	margin-left: 256px;
	margin-top: 960px;
	position: relative;
}

#u284
{
	z-index: 3;
	width: 1159px;
	padding-bottom: 23px;
	left: -138px;
	margin-top: 22px;
}

#menuu285
{
	z-index: 24;
	width: 276px;
	margin-right: -10000px;
	margin-top: 16px;
	left: 167px;
}

#u293
{
	width: 90px;
	min-height: 21px;
	margin-right: -10000px;
}

#u296
{
	width: 90px;
	padding-bottom: 4px;
}

#u218.MuseMenuActive,#u296:hover
{
	margin: 0px;
}

#u296:active
{
	margin: 0px;
}

#u297-4
{
	width: 90px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u218.MuseMenuActive #u221-4,#u296:hover #u297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u296:active #u297-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u300
{
	width: 91px;
	min-height: 21px;
	margin-right: -10000px;
	left: 92px;
}

#u301
{
	width: 91px;
	padding-bottom: 4px;
}

#u296.MuseMenuActive,#u301:hover
{
	margin: 0px;
}

#u301:active
{
	margin: 0px;
}

#u303-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u296.MuseMenuActive #u297-4,#u301:hover #u303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u301:active #u303-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u286
{
	width: 91px;
	min-height: 21px;
	margin-right: -10000px;
	left: 185px;
}

#u287
{
	width: 91px;
	padding-bottom: 4px;
}

#u301.MuseMenuActive,#u287:hover
{
	margin: 0px;
}

#u287:active
{
	margin: 0px;
}

#u287.MuseMenuActive
{
	margin: 0px;
}

#u290-4
{
	width: 91px;
	min-height: 17px;
	margin-right: -10000px;
	top: 2px;
}

#u301.MuseMenuActive #u303-4,#u287:hover #u290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u287:active #u290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u287.MuseMenuActive #u290-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	margin: 0px -10000px 0px 0px;
}

#u352-4
{
	z-index: 43;
	width: 225px;
	min-height: 17px;
	margin-right: -10000px;
	margin-top: 18px;
	left: 857px;
}

body
{
	padding-top: 35px;
}

#page .verticalspacer
{
	clear: both;
}

